<!--Регистрация-->

<!--<div class="wrapper">-->
<!--  <h1>Регистрация пользователей:</h1>-->
<!--  <form action="{% url 'login' %}" method="post" class="formas">-->
<!--      {% csrf_token %}-->
<!--    <p>Имя пользователя:<input type="text" placeholder="username" name="username"></p>-->
<!--    <p>Пароль:<input type="password" placeholder="password" name="password"></p>-->
<!--    <p>Подтверждение пароля:<input type="password" placeholder="password2" name="password2"></p>-->
<!--      <button class="wrap-button">Регистрация</button>-->
<!--  </form>-->
<!--</div>-->




<!--<div class="modal">-->
<!--    <div class="modal-content">-->
<!--        <span class="close-button">×</span>-->
<!--&lt;!&ndash;        <h1>Hello, I am a modal!</h1>&ndash;&gt;-->
<!--          <form class="form" action="{% url 'first_a_k' %}" method="get">-->
<!--              <input class="input input&#45;&#45;text" value="{{ search_query }}" id="formInput#search" type="text" name="search_query"-->
<!--                placeholder="Поиск" />-->
<!--    </div>-->
<!--</div>-->

<!--  <header class="header">-->
<!--    <div class="container container&#45;&#45;narrow">-->
<!--        {% if request.user.is_authenticated %}-->
<!--      <a href="{% url 'index' %}" class="header__logo">-->
<!--        <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" />-->
<!--      </a>-->
<!--      {% else %}-->
<!--      <a href="#" class="header__logo">-->
<!--        <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" />-->
<!--      </a>-->
<!--      {% endif %}-->
<!--      <nav class="header__nav">-->
<!--        <input type="checkbox" id="responsive-menu" />-->
<!--        <label for="responsive-menu" class="toggle-menu">-->
<!--          <span>Menu</span>-->
<!--          <div class="toggle-menu__lines"></div>-->
<!--        </label>-->
<!--        <ul class="header__menu">-->
<!--            {% if request.user.is_authenticated %}-->
<!--          <li class="header__menuItem"><a href="{% url 'index' %}">Главная</a></li>-->
<!--          <li class="header__menuItem"><a href="{% url 'first_a_k' %}">Учеба</a></li>-->
<!--          <li class="header__menuItem"><a href="account.html">Личный кабинет</a></li>-->
<!--&lt;!&ndash;          только для админа&ndash;&gt;-->
<!--          <li class="header__menuItem"><a href="{% url 'create-lesson' %}">Новая тема</a></li>-->

<!--          <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn&#45;&#45;sub">Выйти</a></li>-->
<!--            {% else %}-->
<!--          <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn&#45;&#45;sub">Войти</a></li>-->
<!--            {% endif %}-->
<!--        </ul>-->
<!--      </nav>-->
<!--    </div>-->
<!--  </header>-->