{% extends 'first_a_k/base.html' %}
{% load static %}
{% block content %}

            <div class="forma">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        {{ form }}
                    </div>
                    <button class="wrap-button">Добавить</button>
                </form>
            </div>


<footer>

        <div class="top">
            <div class="logo">
                <a href="{% url 'index' %}">Аня Крепец | Reels</a>
            </div>

            <div class="social-links" >
                <a href="#"><i class='bx bxl-telegram'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-vk'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
            </div>
        </div>
    </footer>

{% endblock %}
