{% extends 'first_a_k/base.html' %}
{% load static %}
{% block content %}

<main class="home">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2><span>Добро пожаловать УЧЕНИКИ</span></h2>
                <h2>Начинаем учиться</h2>
            </div>
            <div>
                <p><img class="project__thumbnail" src="{% static 'img/ozPGx6OK56s — копия2.jpg' %}"
                        alt="project thumbnail"/></p>
            </div>


        </div>
    </section>
    <div class="block" style="text-align: center">
        <div class="element">
            <p>Привет меня зовут Аня и этот путь мы пройдем вместе. Я добилась всего сама. Бросила работу ради
                мечты.</p>
            <p>Результат не заставил себя ждать и вот спустя месяц у меня популярный экспертный блог.</p>
            <p>Теперь я помогу исполнить свою мечту тебе!</p>
        </div>
        <br>
        <div style="text-align: center">
            <iframe src="https://vk.com/video_ext.php?oid=115284178&id=456239464&hd=3" width="730" height="950"
                    allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                    frameborder="0"
                    allowfullscreen></iframe>
        </div>

    </div>

</main>

{% endblock %}
