{% extends 'first_a_k/base.html' %}
{% load static %}
{% block content %}

<div class="wrapper">
    <h1>Авторизация:</h1>
    <h3>{{ error }}</h3>
    <br>
    <form method="post" class="formas">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="wrap-button">Войти</button>
    </form>
</div>

<footer>
        <div class="top">
            <div class="logo">
                <a href="#">Аня Крепец | Reels</a>
            </div>

            <div class="social-links" >
                <a href="https://t.me/+79J3Qqku8NFiM2E6"><i class='bx bxl-telegram'></i></a>
                <a href="https://www.instagram.com/anya_krepets?igsh=MTNpbGY2cjFrODE5dQ=="><i class='bx bxl-instagram'></i></a>
                <a href="https://vk.com/id115284178?from=search"><i class='bx bxl-vk'></i></a>
                <a href="https://vk.com/id115284178?from=search"><i class='bx bxl-youtube'></i></a>
            </div>
        </div>
    </footer>

{% endblock %}
