{% load static %}

<nav>
        <div class="logo">
            {% if user.is_authenticated %}
            <a href="{% url 'index' %}">Аня Крепец | Reels</a>
            {% else %}
            <a href="{% url 'login' %}">Аня Крепец | Reels</a>
            {% endif %}
        </div>
        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'first_a_k' %}">Модули</a></li>
            <li><a href="#">Личный кабинет</a></li>
            <li>Имя: {{ user.username }}</li>
            <li><a href="{% url 'create-lesson' %}">Новая тема</a></li>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
        </ul>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
          <a><button>Выйти</button></a>
    </form>
          {% else %}
        <a href="{% url 'login' %}"><button>Войти</button></a>
          {% endif %}

<!--    # для админа-->

    </nav>
