{% load static %}
  <header class="header">
    <div class="container container--narrow">
      <a href="/" class="header__logo">
        <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="index.html">Главная</a></li>
          <li class="header__menuItem"><a href="{% url 'first_a_k' %}">Учеба</a></li>
          <li class="header__menuItem"><a href="inbox.html">Продукты</a></li>
          <li class="header__menuItem"><a href="account.html">Личный кабинет</a></li>

          <li class="header__menuItem"><a href="{% url 'create-lesson' %}">Новая тема</a></li>

          <li class="header__menuItem"><a href="login.html" class="btn btn--sub">Вход</a></li>
        </ul>
      </nav>
    </div>
  </header>